@import '~bootstrap/scss/bootstrap';
@import "_navbar.scss";
@import "_variables.scss";
@import "_index.scss";
@import "_show.scss";
@import "_programIndex.scss";
@import "categoryIndex.scss";


body {
    background-color: #012D44;
    color: white;
}

.table {
    color:white;
}

